<!-- https://github.com/danialfarid/ng-file-upload -->
<h1>Elegant Contact Form</h1>
<form class="cf">
    <div class="half left cf">
        <label>Image</label>
        <div class="file" onclick="uploadFile('upload')">

            <input type="file" ngf-select ng-model="image" name="upload"
                   ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                   value="Parcourir" class="upload" >

            <img ngf-src="image" class="imageToSend"/>
        </div>
        
        <input type="text" id="input-name" placeholder="Titre" ng-model="title">
        <textarea placeholder="Article" ng-model="text"></textarea>
    </div>
    <input type="submit" value="Submit" id="input-submit" ng-click="sendArticle()"/>
</form>
