<div class="card">
    <div class="card-block">
    <div class="card-title">Connexion</div>
    </div>
            <form>

                <input id="username" type="text" ng-model="username" />
                <input type="password" ng-model="password">
                <!--<button type="button" class="button buttonBlue" ng-click="connect()">Envoyer
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>-->
            </form>
        </div>
    </div>
</div>



<h1>Connexion</h1>
